* {
    /* Nesse caso, estamos zerando a margin e o padding. */
    margin: 0;
    padding: 0;
}

main{
    width: 450px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.button{
    display: flex;
    flex-direction: column;
}

.plan{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*Icone do simbolo de música*/
.plan img{
    max-width: 50px;
    max-height: auto;
    align-items: center;
}

.plan a{
    flex:1;
}

.price{
    display: flex;
    flex-direction: column;
}
